.block {
  width: 45%;
  height: 400px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.yellowBlock {
  width: 100%;
  height: 110px;
  background-color: rgb(255, 255, 85);
  display: flex;
  justify-content: center;
}

.h1 {
  margin: auto 15px;
}

.h2 {
  margin: auto auto 0;
}

.input {
  margin: 16px auto 16px;
}

#resultMarginFix {
  margin-bottom: 32px;
}

/* Mobile */
@media (max-width: 700px) {
  .block {
    width: 90%;
    height: auto;
  }
  .yellowBlock {
    height: 240px;
  }
  #resultBlock {
    margin-top: 40px;
  }
  #h1 {
    margin-top: 32px;
    margin-bottom: 12px;
  }

  .h1, .h2 {
    width: 94%;
  }

  .h2 {
    margin: 12px auto;
  }
}

@media (max-height: 880px) {
  #resultBlock {
    margin-top: 120px;
    margin-bottom: 60px;
  }
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {

}