.h1 {
  margin: auto 15px;
}

.h2 {
  margin: auto auto 0;
}

.marginH2 {
  margin: 12px auto;
}

#resultMarginFix {
  margin-bottom: 32px;
}

/* Mobile */
@media (max-width: 700px) {
  #h1 {
    margin-top: 32px;
    margin-bottom: 12px;
  }

  .h1, .h2, .marginH2 {
    width: 94%;
  }

  .h2 {
    margin: 12px auto;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {

}