.block {
  width: 45%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.height400 {
  height: 400px;
}

.margin {
  margin: 80px auto;
}

@media (prefers-color-scheme: dark) {
  .block {
    background-color: rgb(27, 27, 27);
  }
}

@media (max-width: 700px) {
  .block {
    width: 90%;
  }

  .resultBlock {
    margin-top: 40px;
    width: 90%;
  }

}

@media (min-width: 701px) and (max-width: 1280px) {
  .height400 {
    height: auto;
  }
  .resultBlock {
    margin-top: 120px;
    margin-bottom: 60px;
    width: 76%;
  }
}

@media (max-height: 880px) {
  .resultBlock {
    margin-top: 120px;
    margin-bottom: 60px;
  }
}