.button {
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: rgba(148, 255, 255, 0.74);
  margin: 24px auto;
  font-weight: 700;
  font-size: 16px;
  z-index: 1000;
  color: rgb(0, 0, 0);
}

.nextButton {
  width: 80px;
  margin:  0 auto auto;
}

.prevButton {
  margin: 0;
  position: absolute;
  right: 36px;
  top: 12px;
}
.marginButton {
  margin: 24px;
}

@media (prefers-color-scheme: dark) {
  .button {
    background-color: rgb(60, 45, 90);
    color: rgb(220, 220, 220);
  }
  .button:disabled {
    color: rgb(170, 170, 170);
  }
}
/* Mobile */
@media (max-width: 700px) {
  .nextButton {
    margin:  0 auto 36px;
  }
  .prevButton {
    position: absolute;
    top: 60px;
  }
}