.q {
  font-weight: inherit;
  font-size: inherit;
}

.h2 {
  margin: auto auto 0;
  width: 86%;
}

.NO {
  font-size: 56px;
  text-align: center;
  font-weight: 700;
}

/* Mobile */
@media (max-width: 700px) {
  .h2 {
    width: 94%;
    margin: 12px auto;
  }
}

@media (max-height: 880px) {
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}