:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248,222,255;
  --background-end-rgb: 188,227,255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 215, 215, 215;
    --background-start-rgb: 12, 0, 24;
    --background-end-rgb: 0, 20, 36;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-jetbrains_mono);
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      230deg,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

@media (prefers-color-scheme: dark) {

}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}