.input {
  margin: 0 auto 16px;
  border: none;
  background-color: rgba(148, 255, 255, 0.74);
  height: 35px;
  width: 320px;
  border-radius: 9px;
  padding: 9px;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .input {
    background-color: rgb(66, 50, 99);
    color: rgb(230, 230, 230);
  }
  .input::placeholder {
    color: rgb(180, 180, 180);
  }
}