.yellowBlock {
  background-color: rgb(255, 255, 85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.classic {
  width: 100%;
  height: auto;
}

.heading {
  width: 48%;
  border-radius: 32px;
  height: auto;
  margin: 0 auto;
}

.wrapper {
  width: 86%;
}

@media (max-width: 700px) {
  .yellowBlock {
    padding: 24px 8px;
  }
  .classic {
    height: auto;
  }
  .heading {
    width: 90%;
    border-radius: 24px;
  }
  .wrapper {
    width: 96%;
  }
}
